backports==1.0  
backports.weakref==1.0.post1 
bleach==3.1.0 
glob2==0.7
h5py==2.10.0 
html5lib==1.0.1 
imgaug==0.4.0
keras==2.3.1
matplotlib==3.1.3
numpy==1.16.4
olefile==0.46
opencv-python==4.2.0.34
pandas==1.0.1
pillow==7.0.0 
protobuf==3.12.2
pycurl==7.43.0.5
pyyaml==5.3 
scikit-learn==0.23.1
scipy==1.4.1 
segmentation-models==1.0.1
tensorflow==1.15.2
tqdm==4.42.1